.catalog-wrapper {
    /* height: 100vh; */
    width: 100%;

    border: 1px solid black;
    border-top: none;

    padding: 7rem 5rem 5rem 5rem;

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 4rem;

    position: relative;
}

.catalog-title {
    font-size: 2rem;
    width: calc(100% - 10rem);

    display: inline-flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
}

@media screen and (max-width: 1470px) {
    .catalog-wrapper {
        justify-content: space-evenly;
    }
}


@media screen and (max-width: 550px) {
    .catalog-wrapper {
        border: none;
    }
}