:root {
    --clr-black: #0b0b0b;
    --clr-gray: #38373b;
    --clr-blue: #74b1df;
    --clr-white: #e7e5e3;
    --gap-space: 3rem;
}

html {
    font-family: 'Orbitron', sans-serif;
}

.app {
    background-color: var(--clr-white);

    padding: 0 4rem;
    width: 100%;
    min-height: 100vh;

    position: relative;

    display: flex;
    flex-direction: column;
    gap: var(--gap-space);
}

.app-black {
    background-color: var(--clr-black);
}

.cover-image {
    width: 100%;
}