:root {
    --clr-black: #0b0b0b;
    --clr-gray: #38373b;
    --clr-blue: #74b1df;
    --clr-white: #e7e5e3;
    --gap-space: 5rem;
}

html {
    font-family: 'Orbitron', sans-serif;
}

.app {
    background-color: var(--clr-white);

    padding: 0 4rem;
    width: 100%;
    min-height: 100vh;

    position: relative;

    display: flex;
    flex-direction: column;
    gap: var(--gap-space);
}

.app-black {
    background-color: var(--clr-black);
}

button:hover {
    background-color: var(--clr-blue);
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: var(--clr-blue) #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--clr-blue);
    border-radius: 10px;
    border: 3px solid #ffffff;
}