.credits {
    text-align: center;

    height: 70px;
    width: 100%;

    background-color: var(--clr-blue);

    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;

    padding: 1rem 4rem;
    font-size: 1.5rem;
}