.home-wrapper {
    display: flex;
    gap: var(--gap-space);
    justify-content: space-evenly;
    margin-top: 4rem;

}

.home-title {
    /* width: 70%; */
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.hot-vehicles-none {
    font-size: 3rem;
    color: var(--clr-gray);
}